<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>
<form>
    <ion-item lines="full">
        <ion-label position="floating">First Name</ion-label>
        <ion-input type="text" require></ion-input>
    </ion-item>
    <ion-item lines="full">
        <ion-label position="floating">Last name</ion-label>
        <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">

    </ion-item>

</form>

<ion-content>

</ion-content>